* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game {
  width: 500px;
  height: 250px;
  border: 1px solid #000;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

#game > div {
  width: 10px;
  height: 10px;
}

#game > .snake {
  background: #333;
  border: 1px solid #eee;
}

#game > .apple {
  background: orange;
}


